.hide {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}

.loading {
    background-color: #111;
    position: absolute;
    opacity: .6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 256px;
    min-width: 200px;
    z-index: 999999;
}
    .loading img {
        background-color: transparent;
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        width: 200px;
    }